@model IEnumerable<MAVİRESTAURANT.Models.Entity.TeslimatKosullari>
@{
    ViewBag.Title = "TeslimatKosullari";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div id="content-wrapper">

    <!-- DataTables Example -->
    <div class="card mb-3">
        <div class="card-header">

            <h4><i class="fas fa-table"></i>Teslimat Koşulları</h4> <br />
           
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Teslimat ID</th>
                            <th>Resim</th>
                            <th>Başlık</th>
                            <th>Paragraf1</th>
                            <th>Paragraf2</th>
                            <th>Paragraf3</th>
                            <th>Paragraf4</th>
                            <th>Durum</th>
                            <th>Güncelle</th>
                          

                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var teslimat in Model)
                        {

                            <tr>
                                <td>@teslimat.Teslimat_Id</td>
                                <td><img src="~/Content/Mavi/img/hakkimizda/@teslimat.Resim.ResimAd" width="150" /></td>
                                <td>@teslimat.TeslimatBaslik</td>
                                <td>@teslimat.TeslimatMetin1</td>
                                <td>@teslimat.TeslimatMetin2</td>
                                <td>@teslimat.TeslimatMetin3</td>
                                <td>@teslimat.TeslimatMetin4</td>

                                <td>
                                    <img src="~/Content/Admin/img/@(teslimat.MetinDurum == true ? "1.png" : "0.png")" />
                                    <label class="switch">
                                        <input type="checkbox" id='@teslimat.Teslimat_Id' class="aktifPasif" @(teslimat.MetinDurum == true ? "checked" : "") />
                                        <span class="slider round"></span>
                                    </label>
                                </td>
                                <td>@Html.ActionLink("Güncelle", "TeslimatKosullari_Guncelle", new { teslimat.Teslimat_Id }, new { @class = "btn btn-info mx-4" })</td>


                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<link href="~/Content/Admin/css/switch.css" rel="stylesheet" />
<script src="~/Content/Admin/js/sweetalert.min.js"></script>


