@model Tuple<List<MAVİRESTAURANT.Models.Entity.IletisimBilgileri>, List<MAVİRESTAURANT.Models.Entity.CalismaPlani>>


<div class="container">

    <div class="footer-top">
        <div class="row">
            <div class="col-md-6 col-lg-3 about-footer">
                <div class="footer-title">
                    <h4><span>MAVİ Restaurant</span></h4>
                </div>
                <ul>
                    @foreach (var iletisim in Model.Item1)
                    {
                        <li><a href=@iletisim.Tel><i class="fa fa-phone-square"></i>@iletisim.Tel</a></li>
                        <li>
                            <i class="fa fa-map-marker"></i>
                            @iletisim.Adres

                        </li>
                    }
                </ul>

               <a class="btn red-btn">@Html.ActionLink("Iletisim", "Iletisim", "Iletisim")  </a>
            </div>
            <div class="col-md-6 col-lg-2 page-more-info">
                <div class="footer-title">
                    <h4><span>Sayfalar</span></h4>
                </div>
                <ul>
                    <li>@Html.ActionLink("Anasayfa", "Anasayfa", "Anasayfa")</li>
                    <li>@Html.ActionLink("Hakkimizda", "Hakkimizda", "Hakkimizda")</li>
                    <li>@Html.ActionLink("Rezervasyon", "Rezervasyon", "Rezervasyon")</li>
                    <li>@Html.ActionLink("Menu", "Menu", "Menu")</li>
                    <li>@Html.ActionLink("Galeri", "Galeri", "Galeri")</li>
                    <li>@Html.ActionLink("Iletisim", "Iletisim", "Iletisim")</li>
                </ul>
            </div>

            <div class="col-md-6 col-lg-3 page-more-info">
                <div class="footer-title">
                    <h4><span>Burası Mavi</span> </h4>
                </div>
                <ul>
                    <li><a href="#">Fırsatlar</a></li>
                    <li><a href="/Home/Anasayfa/Anasayfa/#mu-chef">Çok Satanlar</a></li>
                    <li><a>@Html.ActionLink("OdemeBilgisi", "OdemeBilgisi", "Home")</a></li>
                    <li><a>@Html.ActionLink("TeslimatKosullari", "TeslimatKosullari", "Home")</a></li>
                </ul>
            </div>
            <div class="col-md-6 col-lg-4 open-hours">
                <div class="footer-title">
                    <h4>Çalışma Saatleri</h4>

                </div>
                <table class="table">
                    @foreach (var calisma in Model.Item2)
                    {
                        <tbody>
                            <tr>
                                <td><i class="fa fa-clock" aria-hidden="true"></i> @calisma.Gün</td>
                                <td>@calisma.Saat</td>
                            </tr>

                        </tbody>
                    }
                </table>
                <hr>
                <div class="footer-logo">

                    <div class="mu-footer-area">
                        <div class="mu-footer-social">
                            <a href="#"><span class="fa fa-facebook"></span></a>
                            <a href="#"><span class="fa fa-twitter"></span></a>
                            <a href="#"><span class="fa fa-google-plus"></span></a>
                            <a href="#"><span class="fa fa-linkedin"></span></a>
                            <a href="#"><span class="fa fa-youtube"></span></a>
                            <a href="#"><span class="fa fa-instagram"></span></a>
                        </div>



                    </div>
                </div>
            </div>
        </div>
        <hr>
        <center>
            <div class="mu-footer-copyright">
                <p>&copy; MAVİ <a rel="nofollow" href="http://markups.io"></a>Lezzet Dünyasının Tek Adresi.</p>
            </div>
        </center>
        <script type="text/javascript" src="http://www.ibrahimay.net/wp-content/scripts/google-web-translate.v1/direk.js"></script>
    </div>
</div>
