@*@model Tuple<List<MAVİRESTAURANT.Models.Entity.IletisimBilgileri>, List<MAVİRESTAURANT.Models.Entity.CalismaPlani>>*@


@*<div class="col-md-6 col-lg-3 about-footer">
        <div class="footer-title">
            <h4><span>MAVİ Restaurant</span></h4>
        </div>
        <ul>
            @foreach (var iletisim in Model.Item1)
            {
                <li><a href=@iletisim.Tel><i class="fa fa-phone-square"></i>@iletisim.Tel</a></li>
                <li>
                    <i class="fa fa-map-marker"></i>
                    @iletisim.Adres

                </li>
            }

        </ul>
        <a class="btn red-btn">@Html.ActionLink("Iletisim", "Iletisim", "Iletisim")  </a>

    </div>

    <div class="col-md-6 col-lg-4 open-hours">
        <div class="footer-title">
            <h4>Çalışma Saatleri</h4>

        </div>



        <table class="table">
            @foreach (var calisma in Model.Item2)
            {
                <tbody>
                    <tr>
                        <td><i class="fa fa-clock" aria-hidden="true"></i> @calisma.Gün</td>
                        <td>@calisma.Saat</td>
                    </tr>

                </tbody>
            }
        </table>
        <hr>

    </div>

    <div class="col-md-6 col-lg-2 page-more-info">
        <div class="footer-title">
            <h4><span>Sayfalar</span></h4>
        </div>
        <ul>
            <li>@Html.ActionLink("Anasayfa", "Anasayfa", "Anasayfa")</li>
            @*<li>@Html.ActionLink("Anasayfa", "Anasayfa", "Anasayfa")</li>
            <li>@Html.ActionLink("Hakkimizda", "Hakkimizda", "Hakkimizda")</li>
            <li>@Html.ActionLink("Rezervasyon", "Rezervasyon", "Rezervasyon")</li>
            <li>@Html.ActionLink("Menu", "Menu", "Menu")</li>
            <li>@Html.ActionLink("Galeri", "Galeri", "Galeri")</li>
            @*<li>@Html.ActionLink("Iletisim", "Iletisim", "Iletisim")</li>
        </ul>
    </div>*@
<footer id="mu-footer">

    <div class="container">

        <div class="footer-top">
            <div class="row">
                <div class="col-md-6 col-lg-3 about-footer">
                    <div class="footer-title">
                        <h4><span>MAVİ Restaurant</span></h4>
                    </div>


                    <a class="btn red-btn" href="/ILETISIM/ILETISIM">ILETISIM</a>
                </div>
                <div class="col-md-6 col-lg-2 page-more-info">
                    <div class="footer-title">
                        <h4><span>Sayfalar</span></h4>
                    </div>
                    <ul>
                        <li>@Html.ActionLink("Anasayfa", "Anasayfa", "Anasayfa")</li>
                        <li>@Html.ActionLink("Hakkimizda", "Hakkimizda", "Hakkimizda")</li>
                        <li>@Html.ActionLink("Rezervasyon", "Rezervasyon", "Rezervasyon")</li>
                        <li>@Html.ActionLink("Menu", "Menu", "Menu")</li>
                        <li>@Html.ActionLink("Galeri", "Galeri", "Galeri")</li>
                        <li>@Html.ActionLink("Iletisim", "Iletisim", "Iletisim")</li>

                    </ul>
                </div>

                <div class="col-md-6 col-lg-3 page-more-info">
                    <div class="footer-title">
                        <h4><span>Burası Mavi</span> </h4>
                    </div>
                    <ul>
                        <li><a href="#">Fırsatlar</a></li>
                        <li><a href="/Home/Anasayfa/Anasayfa/#mu-chef">Çok Satanlar</a></li>
                        <li><a>@Html.ActionLink("OdemeBilgisi", "OdemeBilgisi", "Home")</a></li>
                        <li><a>@Html.ActionLink("TeslimatKosullari", "TeslimatKosullari", "Home")</a></li>
                    </ul>
                </div>
                <div class="col-md-6 col-lg-4 open-hours">



                    <div class="footer-logo">
                        <div class="footer-title">
                            <h4><span>Bir Adım Uzağınızdayız</span></h4>
                        </div>
                        <table>
                            <tr>
                                <iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d96287.7657098164!2d29.006858900013512!3d41.04728919850789!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m5!1s0x14cac9b1149d7ac1%3A0x672eb8d2aeee9c6e!2zQmFow6dlbGlldmxlciBNYWgsIERvxJ91xZ8gw5xuaXZlcnNpdGVzaSDDh2VuZ2Vsa8O2eSBZZXJsZcWfa2VzaSwgQm9zbmEgQnVsdmFyxLEsIMOcc2vDvGRhci_EsHN0YW5idWw!3m2!1d41.0473104!2d29.0768992!4m0!5e0!3m2!1str!2str!4v1581792577438!5m2!1str!2str" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen=""></iframe>

                            </tr>
                            <tr>
                                <div class="mu-footer-area">
                                    <div class="mu-footer-social">
                                        <a href="#"><span class="fa fa-facebook"></span></a>
                                        <a href="#"><span class="fa fa-twitter"></span></a>
                                        <a href="#"><span class="fa fa-google-plus"></span></a>
                                        <a href="#"><span class="fa fa-linkedin"></span></a>
                                        <a href="#"><span class="fa fa-youtube"></span></a>
                                        <a href="#"><span class="fa fa-instagram"></span></a>
                                    </div>


                                </div>
                            </tr>
                        </table>

                    </div>
                </div>
            </div>
            <br />
            <hr>
            <center>
                <div class="mu-footer-copyright">
                    <p>&copy; MAVİ <a rel="nofollow" href="http://markups.io"></a>Lezzet Dünyasının Tek Adresi.</p>
                    <script type="text/javascript" src="http://www.ibrahimay.net/wp-content/scripts/google-web-translate.v1/direk.js"></script>

                </div>
            </center>
        </div>
    </div>

</footer>